<mat-toolbar class="nav">
    <span><img src="assets/images/logo.png" class="log"></span>

    <ul class="navlist">
        <li><a href="#">placement</a></li>
        <li><a href="#">higher education</a></li>
        <li><a href="#">graphs</a></li>
        <li><a href="#">about</a></li>
    </ul>

  </mat-toolbar>


<!--<nav class="navbar navbar-expand-sm fixed-top">
    <div class="container-fluid">
        <div class="navbar-head">
        <a class="navbar-brand">recrut</a>
        </div>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a href="#">placement</a></li>
        <li class="nav-item"><a href="#">higher education</a></li>
        <li class="nav-item"><a href="#">about</a></li>
    </ul>
     </div>
    </nav>
-->
